<ion-view view-title="Characters List">

<ion-nav-buttons side="primary">
	<button
		class="button button-icon ion-minus-circled"
		ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
	</button>
</ion-nav-buttons>

<ion-nav-buttons side="secondary">
	<button
		class="button button-icon ion-navicon"
		ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">	
	</button>
</ion-nav-buttons>

<div class="bar bar-subheader item-input-inset bar-light">
<label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Search" />
</label>
</div>

<ion-content class="has-subheader">

  <ion-refresher on-refresh="doRefresh()">
  </ion-refresher>

<ion-list show-delete="data.showDelete"
    show-reorder="data.showReorder">
	<ion-item ng-class="{'star': char.star}"
		ng-repeat="char in characters | filter: query"
		class="item-thumbnail-left item-icon-right"
		 href="#/tab/characters/{{char.id}}">
		 
		<img class="charImg" ng-src="{{char.img}}">
		<h2>{{char.name}}</h2>
		<h2>{{char.bio}}</h2>

		<button class="button button-clear icon ion-star button-assertive"
        ng-click="toggleStar(char)"
        ng-show="char.star"></button>
      <ion-option-button class="button-dark"
        ng-click="toggleStar(char)">
        <i class="icon ion-star"></i>
      </ion-option-button>

		<ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(char)">
      	</ion-delete-button>
		
		<ion-reorder-button class="ion-navicon" on-reorder="moveItem(char, $fromIndex, $toIndex)">
		</ion-reorder-button>
	</ion-item>
</ion-list>
</ion-content>
</ion-view>


